.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.git/
*.egg-info/
dist/
build/
.env
.envrc
checkpoints/*.h5
checkpoints/*.keras
checkpoints/*.ckpt
**/.streamlit/secrets.toml
notebooks/.ipynb_checkpoints/
TestCaseManager/
TestData/
